<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Properties>
        <!-- Logs directory based on date -->
        <Property name="LOG_DIR">logs/run-${date:yyyy-MM-dd_HH-mm}</Property>
    </Properties>

    <Appenders>
        <!-- Console with colors for easy reading -->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%highlight{%d{HH:mm:ss.SSS} %-5level %logger{1.} - %msg%n}{FATAL=red, ERROR=red, WARN=yellow, INFO=green, DEBUG=cyan, TRACE=blue}"/>
        </Console>

        <!-- Logs general file -->
        <File name="File" fileName="${LOG_DIR}/test-execution.log">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </File>

        <!-- Specific file for errors -->
        <File name="ErrorsOnly" fileName="${LOG_DIR}/errors.log">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
            <LevelRangeFilter minLevel="ERROR" maxLevel="FATAL" onMatch="ACCEPT" onMismatch="DENY"/>
        </File>
    </Appenders>

    <Loggers>
        <!-- Reduce Selenium Verbosity and other libraries -->
        <Logger name="org.openqa.selenium" level="WARN" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="File"/>
            <AppenderRef ref="ErrorsOnly"/>
        </Logger>

        <!-- Test framework logger -->
        <Logger name="org.seleniumEvent" level="DEBUG" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="File"/>
            <AppenderRef ref="ErrorsOnly"/>
        </Logger>

        <!-- Root log -->
        <Root level="INFO">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="File"/>
            <AppenderRef ref="ErrorsOnly"/>
        </Root>
    </Loggers>
</Configuration>